<body>

  <div class="wrapper">
    <div class="sidebar" data-color="blue" data-image="assets/img/sidebar-4.jpg">
      <div class="sidebar-wrapper">
        <div class="logo">
          <a style="cursor: pointer;" (click)="home()" class="simple-text">
                        Ingenico
          </a>
        </div>
        <ul class="nav">
          <li>
            <a style="cursor: pointer;" (click)="listPos()">
                    <i class="pe-7s-calculator"></i>
                    <p>List Pos</p>
            </a>
          </li>
          <li>
            <a style="cursor: pointer;" (click)="addPos()">
                    <i class="pe-7s-plus"></i>
                    <p>Add Pos</p>
            </a>
          </li>
          <li>
            <a style="cursor: pointer;" (click)="listPosSale()">
                    <i class="pe-7s-cash"></i>
                    <p>List Pos Sales</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    
    <div class="main-panel">
      <nav class="navbar navbar-default navbar-fixed">
        <div class="container-fluid">
          <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                              <span class="sr-only">Toggle navigation</span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="cursor: pointer;" (click)=home()>Ingenico Dashboard</a>
          </div>
          <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                      <a class="dropdown-toggle" data-toggle="dropdown" style="cursor: pointer;" (click) = "home()">
                      <i class="fa fa-dashboard"></i>
                      <p class="hidden-lg hidden-md">Dashboard</p>
                      </a>
                    </li>
                </ul>
      
                <ul class="nav navbar-nav navbar-right">
                  <li class="dropdown" style="cursor: pointer;">
                    <a class="dropdown-toggle" data-toggle="dropdown">

                      <i class="pe-7s-user"></i>
                      <p> Account <b class="caret"></b> </p>
      
                    </a>
                    <ul class="dropdown-menu">
                        <li><a>Profile</a></li>
                        <li><a>Charts</a></li>
                        <li><a>Mail</a></li>
                        <li class="divider"></li>
                        <li>
                          <a (click) = "logOut()">
                              <i class="pe-7s-door-lock"></i>
                              <p>Log out</p>
                          </a>
                        </li>
                    </ul>
                  </li>

                  <li class="separator hidden-lg"></li>

                </ul>
          </div>
        </div>
      </nav>
      <div class="content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
              <router-outlet></router-outlet>
              </div>
            </div>
          </div>
      </div>  
    </div>
  </div>

</body>