<div class="pos">
    <form id="pos" class="form" action="" method="POST" style="border-style: outset; border-radius:20px; padding: 2em;" [formGroup]="posForm" (ngSubmit)="submit()" class="col-md-6">
        <h3 class="text-center" style="font-weight: bold; font-family:cursive; font-size: 35px;">Add / Edit Pos</h3>
        <div class="form-group">
            <label for="serialNumber">Serial Number:</label>
            <input type="text" class="form-control form-control-lg" id="serialNumber" placeholder="Pos Model Number" maxlength="8" size="8" formControlName="serialNumber" required>
        </div>
        <div class="form-group">
            <label for="make">Make:</label>
            <input type="text" class="form-control form-control-lg" id="make" placeholder="Enter the Company that made it" formControlName="make" required>
            </div>
        <div class="form-group">
            <label for="owner">Owner:</label>
            <input type="text" class="form-control form-control-lg" id="owner" placeholder="Who has the Pos Terminal" formControlName="owner" required>
        </div>
        <div class="form-group">
                <label for="status">Status:</label>
            <input type="text" class="form-control form-control-lg" id="status" placeholder="Pos Status" formControlName="status" required>
        </div>
        <button type="submit" class="btn btn-primary btn-block" [disabled]="!posForm.valid">Add Pos</button>
    </form>
</div>
    