<body>
    <div class="loginbox">
        <img class="avatar" src="../../../assets/img/avatar.png" alt="loginavatar">
        <h1 style="font-size:30px; font-family: cursive; font-weight: bold;">Register:</h1>
        <form class="form" action="" method="post" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="username">Username:</label><br>
                <input type="text" name="username" id="username" class="form-control" formControlName="username" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label><br>
                <input type="email" name="email" id="email" class="form-control" formControlName="email" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label><br>
                <input type="password" name="password" id="password" class="form-control" formControlName="password" required>
            </div>
            <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block" [disabled]="!registerForm.valid">Sign Up</button>
            </div>
        </form>
    </div>
</body>