<body>
    <div class="loginbox">
        <img class="avatar" src="../../../assets/img/avatar.png" alt="loginavatar">
        <h1 style="font-size:30px; font-family: cursive; font-weight: bold;">Login:</h1>

        <form class="form" action="" method="post" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="username" >Username:</label><br>
                <input type="text" name="username" id="username" class="form-control" formControlName="username" required >
            </div>
            <div class="form-group">
                <label for="password">Password:</label><br>
                <input type="password" name="password" id="password" class="form-control" required formControlName="password">
            </div>
            <br>
            <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block" [disabled]="!loginForm.valid">Sign In</button>
            </div>
            <a routerLink="/register" routerLinkActive="active">Don't have an Account? Register Here!</a>
            <br>
            <div *ngIf="validate" class="alert alert-danger" style="border-radius: 10px;">
                <strong>{{validate}}</strong>
            </div>
        </form>

    </div>
</body>