 body {
    margin: 0;
    padding: 0;
    background: url(../../../assets/img/bg.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    height: 100vh;
  }


  .loginbox {
    width: 380px;
    height: 450px;
    background: rgb(238, 238, 255);
    color: #000;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 40px;
  }

  .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% -50px);
  }

  h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
  }

  .loginbox label {
    margin: 0;
    padding: 0;
    font-size: 20px;
  }

.loginbox input {
  width: 100%;
  margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"] {
  border: none;
  border-bottom: 1px solid #4881c2;
  background: transparent;
  outline: none;
  height: 40px;
  color: #000;
  font-size: 16px;
  cursor: pointer;
}

/* .loginbox input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #0c5bb6;
  border-radius: 20px;
  color: rgb(250, 246, 4);
  font-size: 20px;
  font-weight: bold;
} */

.loginbox input[type="submit"]:hover {
  cursor: pointer;
  background: #676c72;
  color: darkorange;
}

.loginbox a{
  text-decoration: none;
  font-size: 15px;
  line-height: 20px;
  color: dimgray;
}

.loginbox a:hover {
  color: crimson;
}