<div class="content">
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
              <h4>Add Pos</h4>
              <form action="">
                <div class="row">
                    <div class="form-group col-md-3">
                      <input type="text" maxlength="8" size="8" class="form-control" placeholder="Serial Number" #serialNumber>
                    </div>
                    <div class="form-group col-md-3">
                        <input type="number" pattern="[0-9]"  class="form-control" placeholder="Amount" #amount>
                    </div>
                    <div class="form-group col-md-3">
                      <input type="number" pattern="[0-9]"  class="form-control" placeholder="Quantity" #quantity>
                    </div>
                    <button type="button" rel="tooltip" title="Add" class="btn btn-primary btn-simple" (click)="addPos(serialNumber.value, amount.value, quantity.value); serialNumber.value =''; amount.value = ''; quantity.value = '';">
                          <i class="fa fa-plus"></i>
                    </button>
                </div>
                
              </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card" *ngIf="pos">
              <div class="header">
                <h4 class="title" style="text-align: center; margin-top: 1em; margin-bottom: 1em;">Pos Sales</h4>
              </div>
              <div class="content table-responsive table-full-width">
                <table datatable [dtTrigger]="dtTrigger" class=" table table-hover table-stripped table-bordered" style="width:100%">
                  <thead>
                    <tr>
                        <th>#</th>
                        <th>Serial Number</th>
                        <th>Amount</th>
                        <th>Quantity</th>
                        <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of pos">
                      <td>{{item.id}}</td>
                      <td>{{item.serialNumber}}</td>
                      <td>{{item.amount}}</td>
                      <td>{{item.quantity}}</td>
                      <td class="td-actions text-right">
                          <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple" (click)="deletePos(item.id)">
                              <i class="fa fa-times"></i>
                          </button>
                      </td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                        <th>#</th>
                        <th>Serial Number</th>
                        <th>Amount</th>
                        <th>Quantity</th>
                        <th>Actions</th>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
        </div>
    </div>
  </div>
</div>
