<div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card ">
            <div class="header">
              <h4 class="title" style="text-align: center; margin-top: 1em; margin-bottom: 1em;">Pos List Table</h4>
            </div>
            <div class="content table-responsive table-full-width">
              <table  datatable [dtTrigger]="dtTrigger" class="table table-hover table-stripped table-bordered">
                <thead>
                  <tr>
                      <th>#</th>
                      <th>Serial Number</th>
                      <th>Make</th>
                      <th>Owner</th>
                      <th>Status</th>
                      <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of pos">
                    <td>{{item.id}}</td>
                    <td>{{item.serialNumber}}</td>
                    <td>{{item.make}}</td>
                    <td>{{item.owner}}</td>
                    <td>{{item.status}}</td>
                    <td class="td-actions text-right">
                        <button type="button" rel="tooltip" title="Edit Pos" class="btn btn-info btn-simple btn-xs" (click)="editPos(item.id)">
                            <i class="fa fa-edit"></i>
                        </button>
                        <button type="button" rel="tooltip" title="View Pos" class="btn btn-success btn-simple btn-xs">
                            <i class="fa fa-eye"></i>
                        </button>
                        <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs" (click)="deletePos(item.id)">
                            <i class="fa fa-times"></i>
                        </button>
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th>#</th>
                        <th>Serial Number</th>
                        <th>Make</th>
                        <th>Owner</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>